[Unit]
Description=Frp Server Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/home/ubuntu/frp/frps/frps -c /home/ubuntu/frp/frps/frps.toml

[Install]
WantedBy=multi-user.target
